<div class="p-grid">
  <div class="p-col-12">
    <div style="text-align:center">
      <h1>ตรวจสอบโปรโมชั่น</h1>
    </div>
    <hr />
    <p-table [paginator]="true" [rows]="10" [responsive]="true" [value]="promotion">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="name">
            รายละเอียดโปรโมชั่น
            <p-sortIcon field="nameAbbr" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th pSortableColumn="tel">
            วันที่เริ่มใช้
            <p-sortIcon field="name" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
              ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th pSortableColumn="date">
            วันที่สิ้นสุดโปรโมชัน
            <p-sortIcon field="name" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
              ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th pSortableColumn="date">
            เปอร์เซ็นต์ลด
            <p-sortIcon field="name" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
              ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td>{{ rowData.detail }}</td>
          <td>{{ rowData.date_start | date:'dd-MM-yyyy'}}</td>
          <td>{{ rowData.date_end | date:'dd-MM-yyyy'}}</td>
          <td>{{ rowData.discount_percent }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
