<div class="p-grid">
  <div class="p-col-12">
    <div style="text-align:center">
      <h1>ตรวจสอบคิวล้างรถ</h1>
    </div>
    <hr />
    <div class="p-col-12">
      <div class="p-grid">
        <div class="p-col-6" *ngFor="let carWash of carWashList">
          <div class="p-col-12">
            <label>{{ carWash.label }}</label>
          </div>
          <div class="p-grid-12">
            <div
              *ngFor="let reservation of reservationList"
            >
              <div *ngIf="reservation.car_detail.resultReserve.car_wash_id === carWash.value" class="p-col-12">
                <div style="width: 100%; background-color: lightblue !important;" (click)="getDetailReservation(reservation)">
                  <p-card header="{{ 'ชื่อ' + ' ' +reservation.member.members_fname + ' ' + 'นามสกุล ' + ' ' + reservation.member.members_lname}}">
                    <div>เวลาเริ่ม :{{ reservation.car_detail.resultReserve.start_date + ' น.'}}   -   {{ 'เวลาที่เสร็จสิ้น : ' + reservation.car_detail.resultReserve.end_date + ' น.' }}</div>
                    <div>เลขทะเบียน :{{ reservation.member.member_license }}</div>
                    <div>จังหวัด :{{ reservation.member.province_name }}</div>
                  </p-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  header="รายละเอียดของการจอง"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="p-grid">
    <div class="p-col-6" style="text-align: right;">
      <label>ชื่อผู้จอง: </label>
    </div>
    <div class="p-col-6">
      <div>{{ queueDetail.members_name }}</div>
    </div>
    <div class="p-col-6" style="text-align: right;">
      <label>เลขทะเบียน: </label>
    </div>
    <div class="p-col-6">
      <div>{{ queueDetail.license }}</div>
    </div>
    <div class="p-col-6" style="text-align: right;">
      <label>จังหวัด: </label>
    </div>
    <div class="p-col-6">
      <div>{{ queueDetail.province }}</div>
    </div>
    <div class="p-col-6" style="text-align: right;">
      <label>จำนวนเงินที่ต้องจ่าย: </label>
    </div>
    <div class="p-col-6">
      <div>{{ queueDetail.total_price }}</div>
    </div>
    <div class="p-col-6" style="text-align: right;">
      <label>ยี่ห้อของรถที่ล้าง: </label>
    </div>
    <div class="p-col-6">
      <div>{{ queueDetail.brandCar }}</div>
    </div>
    <div class="p-col-6" style="text-align: right;">
      <label>รุ่นของรถที่ล้าง: </label>
    </div>
    <div class="p-col-6">
      <div>{{ queueDetail.modelCar }}</div>
    </div>
    <div class="p-col-6" style="text-align: right;">
      <label>ขนาดรถที่ล้าง: </label>
    </div>
    <div class="p-col-6">
      <div>{{ queueDetail.sizeCar }}</div>
    </div>
    <div class="p-col-6" style="text-align: right;">
      <label>บริการที่เลือก: </label>
    </div>
    <div class="p-col-6">
      <div>{{ queueDetail.service }}</div>
    </div>
  </div>
</p-dialog>
