<div class="p-grid">
  <div class="container">
    <div style="text-align:center">
      <h1>จัดการประเภทรถ</h1>
    </div>
      <hr />
      <p-messages [(value)]="msgs"></p-messages>
            <p-table [paginator]="true" [rows]="10" [responsive]="true" [value]="carDetail">
              <ng-template pTemplate="caption">
                <div style="text-align:left">
                  <!-- <button pButton type="button" id="btn-Increase" label="เพิ่ม" class="ui-button-temple"
                    style="width: 20%"></button> -->
                  <button
                    pButton
                    type="button"
                    label="เพิ่ม"
                    class="ui-button-rounded ui-button-success"
                    style="font-size: 15px; width: 10%;"
                    (click)="addTypeCar()"
                  ></button>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pSortableColumn="name">
                    ยี่ห้อของรถ
                    <p-sortIcon
                      field="nameAbbr"
                      ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="tel">
                    รุ่นของรถ
                    <p-sortIcon
                      field="name"
                      ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="date">
                    ประเภทของรถ
                    <p-sortIcon
                      field="name"
                      ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                <td>{{ rowData.model_name }}</td>
                <td> {{ rowData.brand }}</td>
                <td>{{ rowData.size }}</td>
                  <td>
                    <div style="text-align:center">
                      <button
                        pButton
                        type="button"
                        label="แก้ไข"
                        class="ui-button-warning"
                        style="width: 40%;"
                        (click) = "editTypeCar(rowData)"
                      ></button>
                      <button
                        pButton
                        type="button"
                        label="ลบ"
                        class="ui-button-danger"
                        style="width: 40%;margin-left: 5mm"
                        (click)="confirm(rowData.car_detail_id)"
                      ></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
<p-dialog
  header="เพิ่มประเภทของรถ"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="p-grid" [formGroup]="formTypeCar">
    <div class="p-col-4" style="text-align: right;">
      <label for="model">รุ่นของรถ</label>
    </div>
    <div class="p-col-4">
      <p-dropdown [options]="modelList" formControlName = "model" optionLabel="label"></p-dropdown>
    </div>
    <div class="p-col-4" style="text-align: left;">
      <div *ngIf="formError.model" class="text-danger text-invalid">{{formError.model }}</div>
    </div>
    <div class="p-col-4" style="text-align: right;">
      <label for="car">ยี่ห้อรถ</label>
    </div>
    <div class="p-col-4">
      <p-dropdown [options]="carList" formControlName = "car" optionLabel="label"></p-dropdown>
    </div>
    <div class="p-col-4" style="text-align: left;">
      <div *ngIf="formError.car" class="text-danger text-invalid">{{formError.car }}</div>
    </div>
      <div class="p-col-4" style="text-align: right;">
        <label for="typeCar">ประเภทรถ</label>
      </div>
      <div class="p-col-4">
        <p-dropdown [options]="typeCarList" formControlName = "typeCar" optionLabel="label"></p-dropdown>
      </div>
      <div class="p-col-4" style="text-align: left;">
        <div *ngIf="formError.typeCar" class="text-danger text-invalid">{{formError.typeCar }}</div>
      </div>
      <div class="p-col-12" style="text-align: center;">
        <button
      type="button"
      pButton
      icon="pi pi-check"
      label="บันทึก"
      (click)="submitFormTypeCar()"
    ></button>
      </div>
  </div>
</p-dialog>

<p-dialog
  header="เพิ่มเจ้าของร้าน"
  [(visible)]="displayEdit"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="p-grid" [formGroup]="formEditTypeCar">
      <div class="p-col-4" style="text-align: right;">
        <label for="editModel">รุ่นของรถ</label>
      </div>
      <div class="p-col-8">
        <p-dropdown [options]="modelList" formControlName = "editModel" optionLabel="label"></p-dropdown>
      </div>
      <div class="p-col-4" style="text-align: right;">
        <label for="editCar">ยี่ห้อของรถ</label>
      </div>
      <div class="p-col-8">
        <p-dropdown [options]="carList" formControlName = "editCar" optionLabel="label"></p-dropdown>
      </div>
      <div class="p-col-4" style="text-align: right;">
        <label for="editTypeCar">ประเภทของรถ</label>
      </div>
      <div class="p-col-8">
        <p-dropdown [options]="typeCarList" formControlName = "editTypeCar" optionLabel="label"></p-dropdown>
      </div>
      <input type="hidden" formControlName="id"/>
      <div class="p-col-12" style="text-align: center;">
        <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="display = false"
      label="บันทึก"
      (click)="updateTypeCar()"
    ></button>
      </div>
  </div>
</p-dialog>

<p-confirmDialog #cd header="ลบข้อมูล" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="คกลง" (click)="cd.accept()"></button>
      <button type="button" pButton icon="pi pi-times" label="ยกเลิก" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>
